[Unit]
    Description=Connection monitor
    After=network.target

[Service]
    ExecStart=/home/connectmon/connectmon.py
    WorkingDirectory=/home/connectmon
    User=root
    Group=root
    Restart=on-failure
    RestartSec=3s
    CPUQuota=100%
    MemoryLimit=2000M

[Install]
    WantedBy=multi-user.target
