<h1 id="tableLabel">Add new order</h1>


<div *ngIf="!order">
  <div class="form-group">
    <label>Order name</label>
    <input class="form-control" name="name" [(ngModel)]="name"/>
  </div>
  <div class="form-group">
    <label>Calories</label>
    <input type="number" class="form-control" name="calories" [(ngModel)]="calories"/>
  </div>
  <div class="form-group">
    <label>Protein</label>
    <input type="number" class="form-control" name="protein" [(ngModel)]="protein"/>
  </div>
  <div class="form-group">
    <label>Fat</label>
    <input type="number" class="form-control" name="fat" [(ngModel)]="fat"/>
  </div>
  <div class="form-group">
    <label>Carbohydrate</label>
    <input type="number" class="form-control" name="carbohydrate" [(ngModel)]="carbohydrate"/>
  </div>
  <div class="form-group">
    <button class="btn btn-normal" (click)="addOrder(name, calories, protein, fat, carbohydrate)">Add</button>
  </div>
  <p *ngIf="loading">Loading...</p>
  <p *ngIf="error">There are error during creating: {{error}}</p>
</div>

<p *ngIf="order">Successfully created order: {{order.name}}</p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="order">
  <tbody>
  <tr>
    <td>Name</td>
    <td>{{ order.name }}</td>
  </tr>
  <tr>
    <td>Calories</td>
    <td>{{ order.calories }}</td>
  </tr>
  <tr>
    <td>Protein</td>
    <td>{{ order.protein }}</td>
  </tr>
  <tr>
    <td>Fat</td>
    <td>{{ order.fat }}</td>
  </tr>
  <tr>
    <td>Carbohydrate</td>
    <td>{{ order.carbohydrate }}</td>
  </tr>
  </tbody>
</table>
<div class="form-group" *ngIf="order">
  <button class="btn btn-normal" (click)="addNew()">Add one more</button>
</div>
<br/>
<br/>
