<h1 id="tableLabel">Import from nomenclature file</h1>

<p>You should upload file from Ministry</p>


<!--<input style="display: none"
           id="fileInput"
           #fileInput
           type="file" (change)="onFileSelected($event)">
<button type="button" (click)="fileInput.click()">Pick File</button>
<button type="button" (click)="onUpload()">Upload</button>

<br/>
<br/>-->


<input type="file"
       (change)="onFileSelected($event)"
       enctype="multipart/form-data">
<br/>
<button class="btn btn-normal" type="button" (click)="onUpload()">Upload</button>

<br/>
<br/>
<!--<input type="file" (change)="onFileChanged($event)">-->


<p *ngIf="totalCount">Uploaded products: {{totalCount}}</p>

<!--// хорошо бы табличку с распознавшимися продуктами и подтверждение их добавления-->
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products">
  <thead>
  <tr>
    <th>Название</th>
    <th>Калорийность</th>
    <th>Белки</th>
    <th>Жиры</th>
    <th>Углеводы</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>{{ product.name }}</td>
    <td>{{ product.calories }}</td>
    <td>{{ product.protein }}</td>
    <td>{{ product.fat }}</td>
    <td>{{ product.carbohydrate }}</td>
  </tr>
  </tbody>
</table>
