.form-input {
    margin: 10px 0;
    &__input {
        padding: 5px;
        font-size: 16px;
        font-family: 'VCR OSD Mono', sans-serif;
    }
}

.form-errors {
    height: 16px;
    margin: 5px 0 12px;
}

.form-error {
    color: @error;
}