@import "../../colors.css";

.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    flex-direction: column;
}

.form {
    position: relative;
    right: 55px;
}
