[defaults]
forks       = 32
inventory   = inventory.cfg
log_path    = .log/ansible.log
gathering   = explicit
pipelining  = True
remote_user = root
nocows      = 1
host_key_checking = False
callback_whitelist = profile_tasks

#[privilege_escalation]
#become = yes
