[vpn]
vpn-dev.a private_addr=10.10.10.1 ansible_host=5.45.248.209 datacenter=a variant=dev
#vpn.a private_addr=10.10.10.2 ansible_host=5.45.248.210 datacenter=a variant=prod

[master]
chk0.a private_addr=10.10.10.10 ansible_host=5.45.248.211 datacenter=a

[flags]
chk1.a private_addr=10.10.10.4 ansible_host=5.45.248.212 datacenter=a

[db]
chk2.a private_addr=10.10.10.5 ansible_host=5.45.248.213 datacenter=a

[checkers]
chk3.a private_addr=10.10.10.6 ansible_host=5.45.248.214 datacenter=a
chk4.a private_addr=10.10.10.7 ansible_host=5.45.248.215 datacenter=a
chk5.a private_addr=10.10.10.8 ansible_host=5.45.248.216 datacenter=a

[cs:children]
master
flags
db
checkers

[cloud_master]
cld-master-dev.a private_addr=10.10.10.1 ansible_host=5.45.248.209 datacenter=a variant=dev
#cld-master.a private_addr=10.10.10.2 ansible_host=5.45.248.210 datacenter=a variant=prod

[cloud_node]
cld1.b ansible_host=93.158.156.113 datacenter=b
cld2.b ansible_host=93.158.156.114 datacenter=b
cld3.b ansible_host=93.158.156.115 datacenter=b
cld4.b ansible_host=93.158.156.116 datacenter=b
cld5.b ansible_host=93.158.156.117 datacenter=b
cld6.b ansible_host=93.158.156.118 datacenter=b
cld7.b ansible_host=93.158.156.119 datacenter=b
cld8.b ansible_host=93.158.156.120 datacenter=b
cld9.b ansible_host=93.158.156.121 datacenter=b
cld10.b ansible_host=93.158.156.122 datacenter=b

#[backuper]
#mon.a private_addr=10.10.10.20 ansible_host=5.45.248.218 datacenter=a

[monitoring]
mon.a private_addr=10.10.10.20 ansible_host=5.45.248.218 datacenter=a

#[logging]
#mon.a private_addr=10.10.10.20 ansible_host=5.45.248.218 datacenter=a
