<h1 id="tableLabel">Продукты</h1>

<p *ngIf="totalCount">Доступные для использования продукты: {{totalCount}}</p>

<p *ngIf="!products">
  <em>Loading...</em>
</p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products">
  <thead>
  <tr>
    <th>Название</th>
    <th>Калорийность</th>
    <th>Белки</th>
    <th>Жиры</th>
    <th>Углеводы</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>{{ product.name }}</td>
    <td>{{ product.calories }}</td>
    <td>{{ product.protein }}</td>
    <td>{{ product.fat }}</td>
    <td>{{ product.carbohydrate }}</td>
  </tr>
  </tbody>
</table>
