.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftElementContainer {
    position: relative;
}

.leftElement {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    width: 100%;
}
