@import "../../colors.css";

.tabs {
    display: flex;
    flex-direction: row;
}

.tab {
    border: none;
    color: var(--blue);
    background-color: black;
    text-transform: uppercase;
    font-size: 16px;
    font-family: sans-serif;
    user-select: none;
    margin-left: 8px;
}

.tab:hover {
    cursor: pointer;
}

.tab:focus {
    outline: none;
}

.tab:active {
    color: white;
}

.selectedTab {
    box-shadow: 0 1px 0 var(--yellow);
}

.tab:first-child {
    margin-left: 0;
}
