storage/*
.gradle
.idea
chklib/__pycache__
chklib/models/__pycache__
chklib/models/verdict/__pycache__
networking/__pycache__
graph.json
out.txt
venv/
__pycache__/
build/*

!build/libs/
!build/libs/patrol-1.0.0.jar